:root {
  --background: #0f001b;
}
input,
button,
textarea,
select {
  font: inherit;
}
button:hover {
  cursor: pointer;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: var(--font-poppins), sans-serif;
}
body {
  background-color: var(--background);
  color: white;
  overflow-x: clip;
}
.bg-pattern {
  background-image: url("/background.svg");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 190%;
  background-size: cover;
  z-index: -2;
  fill: #ffffff;
  opacity: 0.56;
  mix-blend-mode: soft-light;
}
.top-glow {
  position: absolute;
  top: -250px;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
  width: 1009px;
  height: 396px;
  background: #ca67fd;
  border-radius: 100%;
  filter: blur(400px);
}
.bottom-glow-container {
  position: relative;
}

.bottom-glow {
  position: absolute;
  bottom: -350px;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center;
  width: 1009px;
  height: 256px;
  background: #ca67fd;
  border-radius: 100%;
  filter: blur(400px);
}
