.titleContainer {
  margin: 80px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.shapesContainer {
  width: 92%;
  max-width: 1328px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.subtext {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.72px;
  margin-top: -30px;
}
.subtext .bright {
  color: #fff;
}

.subtext .dim {
  margin-top: 5px;
  color: #bababa;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}

.buttonContainer button {
  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(169, 80, 224, 0.5);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}

.figmaButton {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 100px;
  border: 1px solid #7f3cbb;
  background: linear-gradient(180deg, #a643ff 0%, #401868 100%);
  box-shadow:
    0px 4px 4px 0px rgba(0, 10, 31, 0.2),
    0px 0px 12px 0px rgba(190, 121, 255, 0.22);
}

.downloadButton {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 100px;
  border: 1px solid #7020b8;
  background: linear-gradient(
    180deg,
    rgba(166, 67, 255, 0.2) 0%,
    rgba(64, 24, 104, 0.2) 100%
  );
  box-shadow:
    0px 4px 4px 0px rgba(0, 10, 31, 0.2),
    0px 0px 12px 0px rgba(190, 121, 255, 0.22);
}

.noiseSolidButtons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.noiseSolidButtons .buttonsContainer {
  margin: 24px 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100px;
  border: 1px solid rgba(205, 142, 255, 0.59);
  background: rgba(13, 7, 19, 0.41);
}

.noiseSolidButtons .button {
  display: flex;
  padding: 6px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;

  border: none;
  background: rgba(13, 7, 19, 0.41);

  text-align: center;
  font-family: var(--font-poppins), sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 500;
}

.buttonSelected {
  color: white;
  border: 1px solid rgba(205, 142, 255, 0.59);
  background: rgba(112, 32, 184, 0.07);
  box-shadow: -4px -4px 12px 0px rgba(185, 97, 255, 0.36) inset;
}

.line1,
.line2 {
  height: 2px;
  flex: 1 0 0;
}

.line1 {
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(178, 93, 255, 0.43) 0%,
    rgba(178, 93, 255, 0) 100%
  );
  transform: rotateZ(180deg);
}
.line2 {
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(178, 93, 255, 0.43) 0%,
    rgba(178, 93, 255, 0) 100%
  );
}
