.titleContainer {
  width: 486.24px;
  height: 181.3087px;
}
.text {
  -webkit-text-stroke-width: 1.1328672170639038;
  -webkit-text-stroke-color: #000;
  font-size: 108.755px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.35px;
}

.shapeText {
  background: radial-gradient(
    267.95% 72.12% at 2.05% 8.79%,
    #ca88ff 0%,
    #3f1767 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.holicText {
  background: radial-gradient(
    267.95% 72.12% at 2.05% 8.79%,
    #ca88ff 0%,
    #3f1767 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes shape-text {
  0% {
    background: radial-gradient(
      267.95% 72.12% at 2.05% 8.79%,
      #ca88ff 0%,
      #3f1767 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
