.container {
  position: relative;
  margin-left: 60px;
}

@media (max-width: 510px) {
  .container {
    scale: 0.7;
  }
}
.shapeContainer {
  position: relative;
  width: 366px;
  height: 68px;
}

.shapeContainer svg {
  position: absolute;
  scale: 1.2;
}

.shapeWhite {
  top: 4px;
  left: 2px;
}

.oHolicContainer {
  position: relative;
  margin-left: 100px;
  width: 391px;
  height: 72px;
}

.oHolicContainer svg {
  margin-top: 26px;
  position: absolute;
  scale: 1.2;
}

.oHolicWhite {
  top: 5px;
  left: 6px;
}

.emojiContainer {
  position: absolute;
  top: 55px;
  left: -40px;
}

.emojiContainer .emoji {
  position: absolute;
  top: 40px;
  left: 32px;
  width: 54px;
  height: 54px;
}

.emojiContainer .emojiBackground {
  width: 127.855px;
  height: 130.615px;
}
